REACT_APP_SUPABASE_URL=http://localhost:54321
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhyeXpjeXh3Y211bHZidGUiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTYzMjMzNDgyNywiZXhwIjoxOTQ3OTA0ODI3fQ.gDvxF3nRtHvbJ7r_VVvPgI0bLQVHZI9tnMU5nzS3Zxc

SUPABASE_URL=http://supabase:54322
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhyeXpjeXh3Y211bHZidGUiLCJyb2xlIjoiYW5vbiIsImlhdCI6MTYzMjMzNDgyNywiZXhwIjoxOTQ3OTA0ODI3fQ.gDvxF3nRtHvbJ7r_VVvPgI0bLQVHZI9tnMU5nzS3Zxc

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres

OLLAMA_HOST=http://ollama:11434

ENVIRONMENT=development
